# requirements.txt 

streamlit
pydantic>=2.0
langchain-core~=0.2.0
langchain-community~=0.2.0
langchain~=0.2.0
langchain-google-genai~=1.0.5
cohere
faiss-cpu
python-dotenv
pandas
googlesearch-python
PyPDF2
tiktoken

# Library terjemahan 
google-cloud-translate