# requirements.txt - Versi Final yang Sudah Dirapikan
streamlit
langchain
langchain-google-genai
google-genai
cohere
faiss-cpu
python-dotenv
pandas
googletrans==4.0.0-rc1
googlesearch-python
PyPDF2
tiktoken